body {
    text-align: center;
}

a:hover {
    text-decoration: none;
}

#gameDiv, canvas {
	width: 100%;
	height: 100%;
	color: #000000;
	position: absolute; top: 0; left: 0;
}

#toast {
   position: absolute;

   -webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
   transition: opacity 0.5s;

   opacity: 0;
   z-index: 1;
   display: none;
}

.loadingSpin {
  -webkit-animation:spin 0.5s linear infinite;
  animation:spin 0.5s linear infinite;
}
#loadingIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  display: block;
  z-index: 100;
}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }